version: '3'

services:
  mariadb:
    image: mariadb:latest
    restart: always
    environment:
      MARIADB_DATABASE: 'biblio'
      MARIADB_ROOT_PASSWORD: 'biblio'
      MARIADB_USER: 'biblio'
      MARIADB_PASSWORD: 'biblio'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - network

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    expose:
      - '8080'
    networks:
      - network

  php:
    build: .
    ports:
      - '8000:80'
      - '443:443'
    volumes:
      - ./backend:/var/www/html:Z
    depends_on:
      - mariadb
    networks:
      - network

volumes:
  mariadb_data:
    external: true

networks:
  network:

