@media (min-width: 576px) {
    body > div#pico-root > header,
    body > div#pico-root > main,
    body > div#pico-root > footer,
    section {
      --block-spacing-vertical: calc(var(--spacing) * 2.5);
    }
  }
  @media (min-width: 768px) {
    body > div#pico-root > header,
    body > div#pico-root > main,
    body > div#pico-root > footer,
    section {
      --block-spacing-vertical: calc(var(--spacing) * 3);
    }
  }
  @media (min-width: 992px) {
    body > div#pico-root > header,
    body > div#pico-root > main,
    body > div#pico-root > footer,
    section {
      --block-spacing-vertical: calc(var(--spacing) * 3.5);
    }
  }
  @media (min-width: 1200px) {
    body > div#pico-root > header,
    body > div#pico-root > main,
    body > div#pico-root > footer,
    section {
      --block-spacing-vertical: calc(var(--spacing) * 4);
    }
  }

  #result-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}